html, body {
  width: 120px;
}

.button {
  margin: 3% auto;
  padding: auto;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}

.button {
  background-color: #FFFFFF;
}

.button:hover {
  background-color: #F0F0F0;
}

.button:active {
  background-color: #E8E8E8;
}
