html, body {
  width: 150px;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 0.8em;
  cursor: pointer;
}

.button:hover {
  background-color: #CFF2F2;
}

.button {
  background-color: #E5F2F2;
}

.button:active {
  background-color: #B9F2F2;
}
